all books

<!-- views/book/index.ejs -->


<h2>Loop</h2>

<ul>
    <% bookMap.forEach(function(book) { %>
        <li><%= book.title %> - <%= book.author %></li>
    <% }); %>

    <!-- <li><%= bookMap.length %></li> -->

</ul>