<header>
    <nav>
        <a href="/">BookStore</a>
        <ul>
            <li><a href="/books">Books</a></li>
            <li><a href="/cart">Shoping Cart</a></li>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/register">Register</a></li>
        </ul>
    </nav>
</header>